

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    border: 1px solid #c52222;
    border-radius: 5px;
    padding: 10px;
  }
  
  .calculator input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  .calculator button {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #783a3a;
  }
  
  .calculator button:hover {
    background-color: #e0e0e0;
  }
  